body {
    background-color: #121212;
    color: #bdbcbd;
    font-size: 1.2vw;
    font-family: "Iceland", sans-serif;
    font-weight: bold;
}

.container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 1.5vw 3vw;
    border: 0.3vw solid #c9b7da;
    border-radius: 2vw;
    margin-top: -0.1vw;
    max-height: 82vh;
    overflow-x: hidden;
    overflow-y: scroll;
    min-width: 30vw;
}

.header {
    padding-bottom: 0.5vw;
    display: flex;
    gap: 2.5vw;
    justify-content: right;
    align-items: center;
}

.header h1 {
    margin-top: 4vw;
}

h1 {
    color: #c9b7da;
    font-size: 2.5vw;
    text-shadow: 3px 3px 0 #4f1883;
    text-align: right;
}

.header img {
    border: 0.2vw solid #c9b7da;
    border-radius: 50%;
    transition: filter 0.3s;
}

.header img:hover {
    filter: brightness(80%)
}

a {
    color: #ae7ddd;
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    color: #8e5fb9;
}

.emp {
    color: #c9b7da;
    text-decoration: #ae7ddd underline;
}

ul {
    margin-top: -0.7vw;
    list-style: none;
}

li::before {
    content: "->";
    padding-right: 0.5vw;
}

.footerLinks {
    font-size: 1.4vw;
    display: flex;
    justify-content: space-around;
    margin-bottom: -1vw;
}

hr {
    border: 0.05vw solid #c9b7da;
    width: 130%;
    position: relative;
    right: 15%;
}

.projects li {
    margin-top: 1vw;
}

.projects li:nth-child(1) {
    margin-top: 1.7vw;
}

.big {
    font-size: 1.5vw;
}

.desc {
    margin-top: 0.4vw;
}

.flexproj {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
}

.flexproj img {
    border: 0.2vw solid #c9b7da;
    border-radius: 1vw;
}

button, input {
    font-size: 1.6vw;
    font-family: "Iceland", sans-serif;
    font-weight: bold;
    padding: 0.4vw 0.7vw;
    background-color: #121212;
    color: #bdbcbd;
    border: 0.15vw solid #c9b7da;
    border-radius: 0.5vw;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    transition: filter 0.3s, background-color 0.3s;
}

button:hover {
    filter: brightness(70%);
}

input {
    display: none;
    outline: none;
    min-width: 30vw;
}

input:hover, input:focus {
    background-color: #0e0e0e;
}

#result, #message {
    display: none;
    font-size: 1.3vw;
    color: #c9b7da;
}